
<blockquote class="blockquote text-center">
    <p class="mb-0" class="display-3 colorLetras">Consulta de tiquetes</p>
    <footer class="blockquote-footer">Consultar los tiquetes</footer>
  </blockquote>


  <div class="col-6" style="margin-left: 20%; margin-right: 20%; margin-top: 40px; margin-bottom: 40px;" class="text-center">
          
    <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Texto de filtro por nombre o ruta" >
      
  </div>


  <table class="table table-striped">
    <thead>
        <tr class="table-header">
            <th scope="col">Tiquete ID</th>
            <th scope="col">Persona ID</th>
            <th scope="col">Ruta ID</th>
            <th scope="col">Ruta Nomre</th>
            <th scope="col">Ruta Precio</th>
            <th scope="col">Nombre Persona</th>
            
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let t of tiquetes | filtrotiquete:searchText">
            <td>{{ t.id }}</td>
            <td>{{ t.personaId }}</td>
            <td>{{ t.rutaId }}</td>
            <td>{{ t.ruta.nombre }}</td>
            <td>{{ t.ruta.precio }}</td>
            <td>{{ t.persona.nombre }}</td>
            
    
        </tr>
    </tbody>
</table>
