<blockquote class="blockquote text-center">
  <p class="mb-0" class="display-3 colorLetras">Registre la persona</p>
  <footer class="blockquote-footer">Es la primera vez que adquiere un tiquete, debe registrarse</footer>
</blockquote>
<div mat-dialog-content>
  <form [formGroup]="formGroup">
    <div>
      <mat-form-field>
        <mat-label>Identificación</mat-label>
        <input
          matInput
          disabled
          formControlName="identificacion"
    
        />
      </mat-form-field>
    </div>
    <div>
      
        <mat-label>Nombre</mat-label>
        <input matInput disabled formControlName="nombre" />
      
    </div>
  </form>
  <div mat-dialog-actions>
    <div class="form-element">
      <button type="submit" mat-raised-button (click)="onSubmit()">
        Registrar
      </button>
    </div>
  </div>
</div>
