<h1 mat-dialog-title>Persona no registrada, registrela</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup">
    <div>
      <mat-form-field>
        <mat-label>Identificación</mat-label>
        <input
          matInput
          disabled
          formControlName="identificacion"
    
          readonly="true"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput disabled formControlName="nombre" />
      </mat-form-field>
    </div>
  </form>
  <div mat-dialog-actions>
    <div class="form-element">
      <button type="submit" mat-raised-button (click)="onSubmit()">
        Registrar
      </button>
    </div>
  </div>
</div>
