<div class="center-block-content">

    
<blockquote class="blockquote text-center">
    <p class="mb-0" class="display-3 colorLetras">Registro de tiquetes</p>
    <footer class="blockquote-footer">Se registrará una persona y una ruta, si se encuentra registrada la identificacion se guardará y si no se le pedirá su nombre</footer>
  </blockquote>


    
    <form [formGroup]="creditoGroup">

        <div class="form-element">
            <label for="id">Identificacion</label>
            <input type="text" name="id" id="id" class="form-input" placeholder="Ingrese su identificacion" formControlName="idPersona"> 
            <small class="form-help">Ingrese identificacion por favor</small>
        </div>
       
        <select class="custom-select" id="ruta" name="ruta" formControlName="idRuta">
            
            <option *ngFor="let item of rutas" value="{{item.id}}">{{item.nombre}}</option>
        </select>

        <div class="text-center">

            <button mat-stroked-button style="border-color: #339240; margin-right: 20px; margin-top: 20px;"  (click)="onSubmit()" >Registrar</button>
 
            <button mat-stroked-button style="border-color: #339240; " type="reset">Limpiar</button>
 
         </div>



    </form>











</div>
